.main-profile{

  &-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(13, 1fr);
    column-gap: 20px;
    padding: 20px 60px 10px;
    height: 800px;
  }

  &__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 49px;
    color: #727272;
  }
}