@import "../../styles/style.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/mixin.scss";

.dashboard{
  &-container{
    display: flex;
    flex-basis: 81%;
  }

  &-content{
    padding: 50px;
  }

  &-main{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(14, 1fr);
    row-gap: 30px;
    grid-template-areas: 
      "area-1 area-2 area-3"
      "area-4 area-2 area-5"
    ;
  }
  
}
