@import "../../styles/mixin.scss";
@import "../../styles/style.scss";


.start-now{
  padding-left: 7.8%;
  margin-bottom: 240px;

  &__title{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 66px;
    margin-bottom: 120px;
    span{
      color: #2B8790;
    }
  }



  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 47px;

    &_01{
      transform: translateX(30%);
    }

    &_02{
      transform: translateX(20%);
    }

    &_03{
      transform: translateX(10%);
    }
  }

  &__text{
    width: 1500px;
    padding: 70px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 60px;
    line-height: 98px;
    color: #013237;

    &_01{
      background: url('../../resources/img/work-with-us-01-bg.png') no-repeat;
      background-size: cover;
    }

    &_02{
      background: url('../../resources/img/work-with-us-02-bg.png') no-repeat;
      background-size: cover;
    }

    &_03{
      background: url('../../resources/img/work-with-us-03-bg.png') no-repeat;
      background-size: cover;
    }

    &_04{
      background: url('../../resources/img/work-with-us-04-bg.png') no-repeat;
      background-size: cover;
    }
  }
}