@import "../../styles/mixin.scss";
@import "../../styles/style.scss";


.header{
  position: relative;
  padding: 45px 0;
  margin-bottom: 60px;
  &-container{
    @include flex-space-between;
  }

  &-bg{
    position: absolute;
    top: 0;
    right: 0;
  }
}

.menu{
  display: flex;

  &__item{
    margin-left: 90px;
  }

  &__link{
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #4CA771;
  }
}