@import "../../../styles/style.scss";
@import "../../../styles/breakpoints.scss";
@import "../../../styles/mixin.scss";

.dashboard-diagram{
  grid-area: area-4;
  padding: 27px 40px;
  grid-column: span 8;
  grid-row: span 8;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.160784);
  border-radius: 10px;

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 49px;
    color: #727272;
    margin-bottom: 55px;
  }

  img{
    width: 100%;
  }
}