@import "../../../styles/style.scss";
@import "../../../styles/breakpoints.scss";
@import "../../../styles/mixin.scss";

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.dashboard-slider{
  grid-area: area-2;
  margin: 0 16px;
  max-width: 330px;
  grid-column: span 5;
  grid-row: span 14;

  .slick-slider{

    button{
      display: none !important;
    }
  }
}
