.profile-my-progress {
  margin-left: 85px;

  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  &-item {
    flex-basis: 40%;
    padding: 20px 40px; 
    mix-blend-mode: normal;
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.160784);
    border-radius: 10px;
    margin-bottom: 10px;
    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 49px;
      color: #727272;
    }
  }
}
